<footer class="text-center">
    <!-- Copyright -->
    <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
      <div class="content-container">
        <p class="m-0">
          <a class="text-white"
          href="http://catalogue.archives.ncbs.res.in/">{{ 'footer.link.ancbs.catalogue' | translate}}</a>    |
          <a class="text-white"
          href="http://archives.ncbs.res.in/access">{{ 'footer.link.ancbs.access' | translate}}</a>   |    
          <a class="text-white"
          href="http://archives.ncbs.res.in/takedown">{{ 'footer.link.ancbs.takedown' | translate}}</a>  
        </p>
        <p>  
          <a class="text-white"
          href="http://archives.ncbs.res.in/">{{ 'footer.link.ancbs' | translate}}</a>   |
            {{ 'footer.ancbs.copyright' | translate:{year: dateObj | date:'y'} }}
        </p>
      </div>
    </div>
  </footer>
  