<div class="background-image-container">
  <div class="container">
    <div class="home-news-content">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Welcome to the<br />Archives at NCBS</h1>
          <!-- <p class="lead">Archives at NCBS is a public collecting centre for the history of science in contemporary India. The Archives is free and open to the public.</p>  -->

          <!-- <p class="lead">It is located in a 2000 square feet space in the Eastern Lab Complex (ELC) basement in NCBS, a space that was formerly occupied by Obaid Siddiqi, the co-founder of NCBS, and his laboratory. It includes space for research, processing, exhibitions, recording, and a leading-edge storage facility with monitors for temperature, light, humidity, air quality, water, fire, pests, and noise.</p>  -->

          <!-- <p class="lead">The publicly accessible catalogue of 250,000 objects spans 30+ collections and in various forms, ranging from paper-based manuscripts to negatives to photographs, books, fine art, audio recordings, scientific equipment, letters, and field and lab notes. The reading rooms are open to the public and researchers without prior appointment. However, you may need an appointment to review the archival holdings.</p> -->

          <div class="row p-5 d-flex justify-content-start">
            <div class="col-sm-12 lead d-flex flex-column justify-content-between">
              <div>To navigate to our digital collections, visit our online catalogue</div>
              <button
                class="btn btn-lg btn-primary btn-block mt-3"
                onclick="window.location.href='https://catalogue.archives.ncbs.res.in/';"
              >
                Catalogue
              </button>
            </div>
          </div>
          <div class="row p-5 d-flex justify-content-start">
            <div class="col-sm-6 lead d-flex flex-column justify-content-between">
              <div>To view our access guidelines, visit:</div>
              <button
                class="btn btn-lg btn-primary btn-block"
                onclick="window.location.href='https://archives.ncbs.res.in/access';"
              >
                Access Guidelines
              </button>
            </div>
            <div class="col-sm-6 lead d-flex flex-column justify-content-between">
              <div>To view our take down policy, visit:</div>
              <button
                class="btn btn-lg btn-primary btn-block"
                onclick="window.location.href='https://archives.ncbs.res.in/takedown';"
              >
                Digital Material Take Down
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>